@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@1,600&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Josefin+Sans&family=Raleway:ital,wght@1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading1 {
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: .2px;
  font-weight: 500;
  line-height: 2;
  font-size: 16;
  word-spacing: 8px;
}

.heading2 {
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: .2px;
  font-weight: 500;
  line-height: 1.4;
  font-size: 17px;
  word-spacing: 8px;
}

.heading3 {
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: .2px;
  line-height: 2;
  font-size: 15px;
  word-spacing: 8px;
}

.heading4 {
  font-family: 'Cinzel', serif;
  letter-spacing: .2px;
  font-weight: 800;
  line-height: 2;
  font-size: 30px;
  word-spacing: 8;
  color: #ff2020;
}

.heading5 {
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: .2px;
  font-weight: 700;
  line-height: 2;
  font-size: 50px;
  word-spacing: 8px;
}


.heading6 {
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: .2px;
  font-weight: 700;
  /* line-height: 2; */
  font-size: 50px;
  /* word-spacing: 8px; */
}

#name-nav:hover {
  color: #ff2020;
}

img {
  width: 100%;
  object-fit: contain;
}

.home-nav {
  position: fixed;
  width: 100%;
  top: 0%;
  z-index: 987698;
}

.nav-banner {
  cursor: pointer;
}


.single-popular-items:hover .popular-img .img-cap {
  bottom: 0;
  opacity: 1;
  visibility: visible;

}

.single-popular-items .popular-img {
  overflow: hidden;
  border-bottom: 2px solid #ff2020;
  margin-bottom: 19px;
  position: relative;

}


.single-popular-items .popular-img .img-cap {
  position: absolute;
  bottom: -20%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all .4s ease-out 0s;
}

.single-popular-items .popular-img .img-cap span {
  color: #fff;
  background: #f81f1f;
  padding: 10px 0;
  display: block;
  cursor: pointer;
}



.product {
  text-decoration: none;
  font-size: 20px;
  color: black;
  font-weight: bolder;
}

.btn1 {
  background: #f13f3f;
  color: white;
  border: none;
  outline: 0;
  padding: 11px 22px;
  border-radius: 3px;
  margin: 50px auto;
  display: block;
}

.video-area {
  background-image: url(./assets/images/videobg.png);
  width: 100%;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  position: relative;
}

.videos {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.video-area .play-btn {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  right: 0;
  text-align: center;
}

.video-area .play-btn a {
  width: 85px;
  height: 85px;
  display: inline-block;
  line-height: 85px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  font-size: 24px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding-left: 5px;
  padding-top: 1px;
  border: 1px solid #fff;
  transform: scale(1);
}

.thumb-content {
  cursor: pointer;
  background-color: #f81f1f;
  padding: 10px;

}


.thumb-content-box {
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 2;
}


.thumb-content-box .thumb-content a {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-left: 10px;

  color: #fff;
  font-weight: 600;
  margin: 0;
  font-size: 16px;
}

.thumb-content-box .thumb-content a i {
  padding-left: 10px;
  margin-top: 4px;
}

.heartbeat {
  animation: heartbeat 1s infinite alternate;
}

.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #f81f1f;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #f81f1f;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}


.arrival-bg {
  /* background-image: url(./assets/image/arrival-img/DI_blurred_backgrounds-004.jpg); */
  background-image: url(./assets/image/arrival-img//DI_blurred_backgrounds-004.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* .popular-bts{
    width: 180px;
    height: 50px;
    background-color: red;
    color: white;
    border: none;
} */
.popular-bts:hover {
  background-color: rgba(233, 14, 14, 0.897);
}

.pap-img {
  width: 80px;
}

.pap-card {
  border-radius: 0 30px;
  animation: 6s linear infinite border
}

.papcard1 {
  background: rgb(185,141,46);
  background: linear-gradient(90deg, rgba(185,141,46,1) 0%, rgba(255,225,124,1) 100%);
  color: black;
}

.papcard2 {
  background:linear-gradient(90deg,#ff5802,#f3a680);
}

.papcard3 {
  background: linear-gradient(90deg,#ed0c4e,#f3afc3);
}

.papcard4 {
  background:linear-gradient(90deg,#3c76d6,#b8cef0)
}

.papcard5 {
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.zoom-container {
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.zoom-container:hover img {
  transform: scale(1.2);
}
.footer-icons{
  width: 40px;
}
.buy-now-bt{
  text-decoration: none;
  color: antiquewhite;
  padding: 10px;
}
.buy-now{
  position: fixed;
  z-index: 989898;
  margin-left: 20px;
  top: 75px;
  width: 100px;
  height: 40px;
  animation: blink 2s 0s infinite;
}
.buy-now:hover{
  transform: scale(1.1);
}

  
@keyframes blink{
  0%,
  100%{
    background-color: #ce9206;
  }
  50%{
    background-color: rgb(8, 80, 2);
  }
}

@keyframes border {

  0%,
  100% {
    border-radius: 0 30px
  }

  50% {
    border-radius: 30px 0
  }
}

@keyframes heartbeat {
  100% {
    transform: scale(1.03);
  }
}